<div class="progress-wizard" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
      <mat-horizontal-stepper [linear]="false">
          <mat-step label="Fill out your name">
              <app-user-detail></app-user-detail>
          </mat-step>

          <mat-step label="Fill out your phone number">
            <mat-form-field>
              <input matInput placeholder="Phone number">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </mat-step>

          <mat-step label="Fill out your address">
            <mat-form-field>
              <input matInput placeholder="Address">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </mat-step>

          <mat-step label="Confirm your information">
            Everything seems correct.
            <div>
              <button mat-button>Done</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
  </mat-card>
</div>
