<div class="toolbar">
  <mat-toolbar >
    <span class="toolbar-title"><a>Angular+Firebase</a></span>
    <a mat-button>About</a>
    <a mat-button>Contact</a>
    <span class="fill-remaining"></span>
    <a mat-button><mat-icon>person_add</mat-icon> Register</a>
    <a mat-button><mat-icon>lock_open</mat-icon> Sign In</a>
    <a mat-button [matMenuTriggerFor]="appMenu"><mat-icon>more_vert</mat-icon></a>
    <mat-menu #appMenu="matMenu">
      <a mat-menu-item><mat-icon>face</mat-icon><span>Profile</span></a>
      <a mat-menu-item><mat-icon>lock_outline</mat-icon><span>Logout</span></a>
    </mat-menu>
  </mat-toolbar>
</div>
