.contact-component {
  min-height: 100%;
  margin: 50px 0px;
}
form > .mat-form-field-underline {
  background-color: rgba(255,255,255,.7);
}
form > .mat-form-field-placeholder {
  color: rgba(255,255,255,.7);
}
